* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #050b18, #101d36);
  color: white;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}
