.signin-page {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 30px;

  background:
    radial-gradient(
      circle at center,
      #182b45,
      #071224 75%
    );
}


/* BIG LOGIN CARD */

.signin-panel {

  width: 520px;

  min-height: 560px;

  background: rgba(23,34,53,0.92);

  padding: 65px 55px;

  border-radius: 35px;

  backdrop-filter: blur(20px);

  box-shadow:
    0 0 60px rgba(78,234,255,0.25);

}





/* BIG TITLE */

.signin-panel h1 {

  font-size: 48px;

  line-height: 1.2;

  margin-bottom: 45px;

  color:white;

  font-weight:800;

}



.signin-panel span {

  color:#4eeaff;

}





/* FORM */

form {

  display:flex;

  flex-direction:column;

  gap:25px;

}





/* LARGE INPUT */

input {

  height:65px;

  padding:0 22px;

  border-radius:18px;

  border:none;

  outline:none;

  background:rgba(255,255,255,0.18);

  color:white;

  font-size:20px;

}



input::placeholder {

  color:#b7bcc7;

}





/* BIG BUTTON */

form button {

  height:65px;

  border-radius:35px;

  border:none;

  background:#4eeaff;

  color:#06101f;

  font-size:21px;

  font-weight:bold;

  cursor:pointer;

  transition:.3s;

}



form button:hover {

  transform:translateY(-5px);

  box-shadow:
  0 0 35px #4eeaff;

}





/* LINK */

form p {

  text-align:center;

  color:#4eeaff;

  cursor:pointer;

  margin-top:20px;

  font-size:18px;

}